@import "src/index";

section {
  @apply p-4;
}

section:first-child {

  h1 {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    color: $color_accent;
  }

  background-color: $color_accent2;

  .content {
    display: flex;
    flex-direction: column;
  }

  .project {
    background-color: $color_bg;
    @apply mt-4;
  }

  .project.highlight:nth-child(2n+2) {
    flex-direction: row-reverse;
    background-color: $color_neutral;

    p, h2 {
      color: white;
    }
  }
}

section h2 {
  width: 100%;
  color: $color_accent;
}

section > .content {
  flex-wrap: wrap;
  @apply flex flex-col items-stretch;
  @apply flex md:flex-row md:items-start ;
}
