[build]
command = "yarn rw deploy netlify"
publish = "web/dist"
functions = "api/dist/functions"

[dev]
  # To use [Netlify Dev](https://www.netlify.com/products/dev/),
  # install netlify-cli from https://docs.netlify.com/cli/get-started/#installation
  # and then use netlify link https://docs.netlify.com/cli/get-started/#link-and-unlink-sites
  # to connect your local project to a site already on Netlify
  # then run netlify dev and our app will be accessible on the port specified below
  framework = "redwoodjs"
  # Set targetPort to the [web] side port as defined in redwood.toml
  targetPort = 8910
  # Point your browser to this port to access your RedwoodJS app
  port = 8888

[[redirects]]
  from = "/docs/*"
  to = "https://redwoodjs-docs.netlify.app/docs/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/cookbook"
  to = "/docs/how-to/index"
  status = 301
  force = true

[[redirects]]
  from = "/cookbook/*"
  to = "/docs/how-to/:splat"
  status = 301
  force = true

[[redirects]]
  from = "/tutorial"
  to = "/docs/tutorial/welcome-to-redwood"
  status = 301
  force = true

[[redirects]]
  from = "/tutorial/*"
  to = "/docs/tutorial/:splat"
  status = 301
  force = true

[[redirects]]
  from = "/assets/*"
  to = "https://redwoodjs-docs.netlify.app/assets/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/img/*"
  to = "https://redwoodjs-docs.netlify.app/img/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/newsletter"
  to = "https://redwoodjs.us19.list-manage.com/subscribe/post?u=0c27354a06a7fdf4d83ce07fc&id=09f634eea4"
  force = true

[[redirects]]
  from ="/community"
  to ="https://community.redwoodjs.com/t/welcome-to-the-redwoodjs-community/2416"

[[redirects]]
  from ="/v1launchweek"
  to ="https://v1launchweek.redwoodjs.com/"

[[redirects]]
  from ="/v1-launch-week"
  to ="https://v1launchweek.redwoodjs.com/"

[[redirects]]
  from ="/startup-club"
  to ="https://forms.gle/fYsacoY4uKQmP24o8"

[[redirects]]
  from = "/roadmap"
  to = "https://community.redwoodjs.com/t/post-v1-roadmap-feedback-wanted/3013"

[[redirects]]
  from = "/good-first-issue"
  to = "https://github.com/redwoodjs/redwood/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22+sort%3Aupdated-desc"

[[redirects]]
  from = "/*"
  to = "/200.html"
  status = 200
