@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

$color_bg: #FDF8F5;
$color_accent: #BF4722;
$color_accent2: #F3C7BA;
$color_neutral: #1A202C;

@layer base {
  a {
    @apply text-red-800 underline;
  }

  strong {
    @apply font-semibold;
  }
}

@layer components {
  .button {
    @apply block px-4 py-3 font-semibold rounded bg-red-700 text-white hover:bg-red-600 transition duration-200 text-lg no-underline;
  }

  .button-invert {
    @apply button bg-white text-red-700 hover:bg-red-300 hover:text-red-800;
  }
}

/* Material icon sizes */
.material-icons.md-14 { font-size: 14px; }
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-20 { font-size: 20px; }
.material-icons.md-22 { font-size: 22px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
